<div class="theArena">
  <%= render "puppy_battle_title" %>

<!--   <div class="showDown">
    <div class="combatant">
      <%= image_tag Combatant.first.url, height: 500 %>
    </div>
    <div class="combatant">
      <%= image_tag Combatant.second.url, height: 500 %>
    </div>
  </div>

  <nav class="puppyRanking">
  </nav> -->

<!--   <%= link_to 'Submit a new puppy!', new_combatant_path, class: "newCombatantButton" %> -->
</div>
