// Place all the styles related to the Combatants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "title_dots";

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}


.theArena {
  display: flex;
  flex-direction: column;
  height: 100%;
  #puppyBattleImage {
    margin: 20px auto 20px;
    width: 540px;
    display: block;
  }

  .showDown {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    .combatant {
      position: relative;
      cursor: pointer;
      flex: 1;
      flex-direction: column;
      display: flex;
      margin: 40px;
      background: gray;
      border-radius: 5px;
      overflow: hidden;
      -webkit-box-shadow: 0 1px 16px hsla(0, 0%, 0%, 0.1);
      -moz-box-shadow: 0 1px 16px rgba(0,0,0,.1);
      box-shadow: 0 1px 16px hsla(0, 0%, 0%, 0.1);
      &:nth-child(1) {
        margin-right: 10px;
      }
      &:hover {
        box-shadow: 0 0px 30px hsl(0, 72%, 59%)
      }
      .pupImage {
        flex: 1;
        background-size: cover !important;
      }
      .heartOverlay {
        background: url(/assets/heart.png) no-repeat center center;
        background-size: contain;
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        opacity: 0;
      }
      &:hover .heartOverlay {
        // opacity: 0.5;
      }
    }
  }

  .puppyRankingContainer {
    width: 100%;
    overflow: auto;
    .puppyRanking {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      .pup {
        min-width: 100px;
        width: 100px;
        height: 100px;
        background-size: cover !important;
      }
    }
  }

  .newCombatantButton {

  }
}

@keyframes fadecycle {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





